<h1>Activity 1 Palmer Penguins Data Analysis</h1>
<h2>ANALYST:MR POGI</h2>

In [3]:
print ("Hellow world")

Hellow world

In [4]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [5]:
hakdog = pd.read_csv ('Dataset//penguins.csv')

In [6]:
hakdog

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h1>ANANLYZING DATA</h1>

In [7]:
hakdog.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [8]:
hakdog.describe().T

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.0,2009.0

<h1>FILTERING A COLUMN</h1>

In [9]:
hotdog = hakdog[hakdog['species'] =="Adelie"]

In [10]:
hotdog

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
147,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

In [11]:
hakdog ['species'] == "Adelie"

0       True
1       True
2       True
3       True
4       True
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [12]:
hakdog ['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [13]:
hakdog ['sex'].value_counts()

sex
male      168
female    165
Name: count, dtype: int64

In [14]:
hakdog ['species'] == "Gentoo"

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [15]:
hakdog ['year'].value_counts()

year
2009    120
2008    114
2007    110
Name: count, dtype: int64

In [16]:
hakdog ['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

In [17]:
hakdog[hakdog['island'] =="Torgersen"]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN,2007
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN,2007
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN,2007
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,female,2007
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,male,2007
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,male,2007
15,Adelie,Torgersen,36.6,17.8,185.0,3700.0,female,2007
16,Adelie,Torgersen,38.7,19.0,195.0,3450.0,female,2007
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,male,2007
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,female,2007
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,male,2007
68,Adelie,Torgersen,35.9,16.6,190.0,3050.0,female,2008
69,Adelie,Torgersen,41.8,19.4,198.0,4450.0,male,2008
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,female,2008
71,Adelie,Torgersen,39.7,18.4,190.0,3900.0,male,2008
72,Adelie,Torgersen,39.6,17.2,196.0,3550.0,female,2008
73,Adelie,Torgersen,45.8,18.9,197.0,4150.0,male,2008
74,Adelie,Torgersen,35.5,17.5,190.0,3700.0,female,2008
75,Adelie,Torgersen,42.8,18.5,195.0,4250.0,male,2008
76,Adelie,Torgersen,40.9,16.8,191.0,3700.0,female,2008
77,Adelie,Torgersen,37.2,19.4,184.0,3900.0,male,2008
78,Adelie,Torgersen,36.2,16.1,187.0,3550.0,female,2008
79,Adelie,Torgersen,42.1,19.1,195.0,4000.0,male,2008
80,Adelie,Torgersen,34.6,17.2,189.0,3200.0,female,2008
81,Adelie,Torgersen,42.9,17.6,196.0,4700.0,male,2008
82,Adelie,Torgersen,36.7,18.8,187.0,3800.0,female,2008
83,Adelie,Torgersen,35.1,19.4,193.0,4200.0,male,2008
116,Adelie,Torgersen,38.6,17.0,188.0,2900.0,female,2009
117,Adelie,Torgersen,37.3,20.5,199.0,3775.0,male,2009
118,Adelie,Torgersen,35.7,17.0,189.0,3350.0,female,2009
119,Adelie,Torgersen,41.1,18.6,189.0,3325.0,male,2009
120,Adelie,Torgersen,36.2,17.2,187.0,3150.0,female,2009
121,Adelie,Torgersen,37.7,19.8,198.0,3500.0,male,2009
122,Adelie,Torgersen,40.2,17.0,176.0,3450.0,female,2009
123,Adelie,Torgersen,41.4,18.5,202.0,3875.0,male,2009
124,Adelie,Torgersen,35.2,15.9,186.0,3050.0,female,2009
125,Adelie,Torgersen,40.6,19.0,199.0,4000.0,male,2009
126,Adelie,Torgersen,38.8,17.6,191.0,3275.0,female,2009
127,Adelie,Torgersen,41.5,18.3,195.0,4300.0,male,2009
128,Adelie,Torgersen,39.0,17.1,191.0,3050.0,female,2009
129,Adelie,Torgersen,44.1,18.0,210.0,4000.0,male,2009
130,Adelie,Torgersen,38.5,17.9,190.0,3325.0,female,2009
131,Adelie,Torgersen,43.1,19.2,197.0,3500.0,male,2009

In [18]:
adelie = hakdog[hakdog['species']== 'Adelie']

In [19]:
hakdog ['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [20]:
adelie ['body_mass_g'].mean()

3700.662251655629

In [21]:
hakdog ['body_mass_g'] >= 4000

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340    False
341    False
342     True
343    False
Name: body_mass_g, Length: 344, dtype: bool

In [22]:
hakdog ['species']=='Adelie'

0       True
1       True
2       True
3       True
4       True
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [23]:
hakdog[(hakdog['body_mass_g'] >=4000) & (hakdog ['species']=='Adelie')]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,male,2007
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,male,2007
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,male,2007
35,Adelie,Dream,39.2,21.1,196.0,4150.0,male,2007
39,Adelie,Dream,39.8,19.1,184.0,4650.0,male,2007
43,Adelie,Dream,44.1,19.7,196.0,4400.0,male,2007
45,Adelie,Dream,39.6,18.8,190.0,4600.0,male,2007
49,Adelie,Dream,42.3,21.2,191.0,4150.0,male,2007
51,Adelie,Biscoe,40.1,18.9,188.0,4300.0,male,2008
53,Adelie,Biscoe,42.0,19.5,200.0,4050.0,male,2008
61,Adelie,Biscoe,41.3,21.1,195.0,4400.0,male,2008
63,Adelie,Biscoe,41.1,18.2,192.0,4050.0,male,2008
67,Adelie,Biscoe,41.1,19.1,188.0,4100.0,male,2008
69,Adelie,Torgersen,41.8,19.4,198.0,4450.0,male,2008
73,Adelie,Torgersen,45.8,18.9,197.0,4150.0,male,2008
75,Adelie,Torgersen,42.8,18.5,195.0,4250.0,male,2008
79,Adelie,Torgersen,42.1,19.1,195.0,4000.0,male,2008
81,Adelie,Torgersen,42.9,17.6,196.0,4700.0,male,2008
83,Adelie,Torgersen,35.1,19.4,193.0,4200.0,male,2008
91,Adelie,Dream,41.1,18.1,205.0,4300.0,male,2008
93,Adelie,Dream,39.6,18.1,186.0,4450.0,male,2008
95,Adelie,Dream,40.8,18.9,208.0,4300.0,male,2008
97,Adelie,Dream,40.3,18.5,196.0,4350.0,male,2008
99,Adelie,Dream,43.2,18.5,192.0,4100.0,male,2008
101,Adelie,Biscoe,41.0,20.0,203.0,4725.0,male,2009
103,Adelie,Biscoe,37.8,20.0,190.0,4250.0,male,2009
109,Adelie,Biscoe,43.2,19.0,197.0,4775.0,male,2009
111,Adelie,Biscoe,45.6,20.3,191.0,4600.0,male,2009
113,Adelie,Biscoe,42.2,19.5,197.0,4275.0,male,2009
115,Adelie,Biscoe,42.7,18.3,196.0,4075.0,male,2009
125,Adelie,Torgersen,40.6,19.0,199.0,4000.0,male,2009
127,Adelie,Torgersen,41.5,18.3,195.0,4300.0,male,2009
129,Adelie,Torgersen,44.1,18.0,210.0,4000.0,male,2009
133,Adelie,Dream,37.5,18.5,199.0,4475.0,male,2009
139,Adelie,Dream,39.7,17.9,193.0,4250.0,male,2009
146,Adelie,Dream,39.2,18.6,190.0,4250.0,male,2009
151,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

<h1>CLEANING DATA FRAME</h1>

In [24]:
hakdog.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

<h1>WHAT TO DO WITH NULL VALUES</h1>

In [25]:
hakdog ['bill_length_mm'].mean

<bound method Series.mean of 0      39.1
1      39.5
2      40.3
3       NaN
4      36.7
       ...
339    55.8
340    43.5
341    49.6
342    50.8
343    50.2
Name: bill_length_mm, Length: 344, dtype: float64>

In [26]:
hakdog ['sex'].mode()

0    male
Name: sex, dtype: object

<h1>HOW TO FILLUP NULL VALUES</h1>

In [27]:
hakdog ["bill_length_mm"] = hakdog ["bill_length_mm"].fillna (hakdog['bill_length_mm'].mean(0))

In [28]:
hakdog.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [29]:
hakdog ["bill_depth_mm"] = hakdog ["bill_depth_mm"].fillna (hakdog['bill_depth_mm'].mean(0))

In [30]:
hakdog.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [31]:
hakdog ["flipper_length_mm"] = hakdog ["flipper_length_mm"].fillna (hakdog['flipper_length_mm'].mean(0))

In [32]:
hakdog.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [33]:
hakdog ["body_mass_g"] = hakdog ["body_mass_g"].fillna (hakdog['body_mass_g'].mean(0))

In [34]:
hakdog.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
year                  0
dtype: int64

In [35]:
hakdog ["sex"] = hakdog ["sex"].fillna (hakdog['sex'].mode()[0])

In [36]:
hakdog.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

<h1>CHANGING DATA TYPES</h1>

In [37]:
hakdog ["species"] = hakdog ["species"].astype('object')
hakdog ["year"] = hakdog ["year"].astype('category')
hakdog ["island"] = hakdog ["island"].astype('object')
hakdog ["island"] = hakdog ["island"].astype('category')

In [38]:
hakdog.info

<bound method DataFrame.info of        species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0       Adelie  Torgersen        39.10000       18.70000         181.000000
1       Adelie  Torgersen        39.50000       17.40000         186.000000
2       Adelie  Torgersen        40.30000       18.00000         195.000000
3       Adelie  Torgersen        43.92193       17.15117         200.915205
4       Adelie  Torgersen        36.70000       19.30000         193.000000
..         ...        ...             ...            ...                ...
339  Chinstrap      Dream        55.80000       19.80000         207.000000
340  Chinstrap      Dream        43.50000       18.10000         202.000000
341  Chinstrap      Dream        49.60000       18.20000         193.000000
342  Chinstrap      Dream        50.80000       19.00000         210.000000
343  Chinstrap      Dream        50.20000       18.70000         198.000000

     body_mass_g     sex  year
0    3750.000000    male  2007
1    3800.000000  female  2007
2    3250.000000  female  2007
3    4201.754386    male  2007
4    3450.000000  female  2007
..           ...     ...   ...
339  4000.000000    male  2009
340  3400.000000  female  2009
341  3775.000000    male  2009
342  4100.000000    male  2009
343  3775.000000  female  2009

[344 rows x 8 columns]>

In [39]:
hakdog.describe

<bound method NDFrame.describe of        species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0       Adelie  Torgersen        39.10000       18.70000         181.000000
1       Adelie  Torgersen        39.50000       17.40000         186.000000
2       Adelie  Torgersen        40.30000       18.00000         195.000000
3       Adelie  Torgersen        43.92193       17.15117         200.915205
4       Adelie  Torgersen        36.70000       19.30000         193.000000
..         ...        ...             ...            ...                ...
339  Chinstrap      Dream        55.80000       19.80000         207.000000
340  Chinstrap      Dream        43.50000       18.10000         202.000000
341  Chinstrap      Dream        49.60000       18.20000         193.000000
342  Chinstrap      Dream        50.80000       19.00000         210.000000
343  Chinstrap      Dream        50.20000       18.70000         198.000000

     body_mass_g     sex  year
0    3750.000000    male  2007
1    3800.000000  female  2007
2    3250.000000  female  2007
3    4201.754386    male  2007
4    3450.000000  female  2007
..           ...     ...   ...
339  4000.000000    male  2009
340  3400.000000  female  2009
341  3775.000000    male  2009
342  4100.000000    male  2009
343  3775.000000  female  2009

[344 rows x 8 columns]>

<h1>QUESTIONS AND CODING</h1>

<h1>1.How many penguins in each island?</h1>

In [40]:
hakdog['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

<h2>insights shows how many penguins there are in each island</h2>

<h1>2.What is the average flipper length for Adelie penguins?</h1>

In [41]:
hakdog[hakdog['species']=="Adelie"] ['bill_length_mm'].mean()

38.82514427516159

<h2>insights shows the average flipper length for gentoo penguins</h2>

<h1>3.How many penguins in each species?</h1>

In [42]:
hakdog['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

<h2>insights show how many penguins there are in each species</h2>

<h1>4.Which species has the highest average body mass</h1>

In [43]:
hakdog.groupby('species')['body_mass_g'].mean().idxmax()

'Gentoo'

<h2>insights shows which species of penguin has th highest average</h2>

5.What is the shortest bill length?

In [44]:
hakdog["bill_length_mm"].min()

32.1

<h2>insghts shows whats the shortest bill length recorded in the dataset</h2>

<h1>6.Which island has the most gentoo penguin?</h1>

In [45]:
hakdog[hakdog['species'] == 'Gentoo'] ['island'].value_counts().idxmax()

'Biscoe'

<h2>insights shows which island has the most gentoo penguin in the data set</h2>

<h1>7.How many female chinstrappenguin are there?</h1>

In [46]:
len(hakdog[(hakdog['species'] == "Chinstrap") & (hakdog['sex'] =="female")])

34

<h1> </h1>

<h1>insigths shows how many female are there in the chistrap penguins </h1>

<h1>8.What is the average weight of gentoo penguins</h1>

In [54]:
hakdog[hakdog['species']=="Gentoo"] ['body_mass_g'].mean()

5068.965761177136

<h2>Insights shows the average weight of the penguins</h2>

<h1>9. What is the mass of the heaviest pegnuin?</h1>

In [57]:
hakdog['body_mass_g'].max()

6300.0

<h2>Insights shows the heaviest weight recorded in the dataset</h2>

<h1>10.How many females are there in each island<h1>

In [58]:
hakdog.groupby (['island','sex']).size()

island     sex
Biscoe     female    80
           male      88
Dream      female    61
           male      63
Torgersen  female    24
           male      28
dtype: int64

<h2>Insights shows how many females there are in each island</h2>

<h1>Which is the Common sex among the penguins</h1>

In [60]:
hakdog['sex'].mode()[0]

'male'

<h2>Insights shows that male is the dominant species </h2>

<h1>12.Which year has the fewest penguin records?
</h1>

In [62]:
hakdog['year'].value_counts().idxmin()

2007

<h2>Insights shows that 2007 has the least recorded penguins</h2>

<h1>DATA AGRREGATION<h1>

<h1>How many females are there in each island<h1>

In [48]:
hakdog.groupby (['island','sex']).size()

island     sex
Biscoe     female    80
           male      88
Dream      female    61
           male      63
Torgersen  female    24
           male      28
dtype: int64

<h2>Insights shows how many females there are in each island</h2>

In [49]:
female_df = hakdog[hakdog['sex'] == 'female']

In [50]:
female_df.groupby (['island','sex']).size()

island     sex
Biscoe     female    80
Dream      female    61
Torgersen  female    24
dtype: int64

<h1>CORRELATION</h1>

In [51]:
hakdog ['flipper_length_mm'].corr (hakdog['body_mass_g'])

0.8712017673060114

In [67]:
hakdog.info

<bound method DataFrame.info of        species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0       Adelie  Torgersen        39.10000       18.70000         181.000000
1       Adelie  Torgersen        39.50000       17.40000         186.000000
2       Adelie  Torgersen        40.30000       18.00000         195.000000
3       Adelie  Torgersen        43.92193       17.15117         200.915205
4       Adelie  Torgersen        36.70000       19.30000         193.000000
..         ...        ...             ...            ...                ...
339  Chinstrap      Dream        55.80000       19.80000         207.000000
340  Chinstrap      Dream        43.50000       18.10000         202.000000
341  Chinstrap      Dream        49.60000       18.20000         193.000000
342  Chinstrap      Dream        50.80000       19.00000         210.000000
343  Chinstrap      Dream        50.20000       18.70000         198.000000

     body_mass_g     sex  year
0    3750.000000    male  2007
1    3800.000000  female  2007
2    3250.000000  female  2007
3    4201.754386    male  2007
4    3450.000000  female  2007
..           ...     ...   ...
339  4000.000000    male  2009
340  3400.000000  female  2009
341  3775.000000    male  2009
342  4100.000000    male  2009
343  3775.000000  female  2009

[344 rows x 8 columns]>